/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  /* Desktop */
  /* colors */
  --boton-content: #39466c;
  --boton-learn-more: #f96d6f;
  --color-fondo: #ecedee;
  --gradient1: #fbf5e6;
  --gradient2: #eccff5;
  --color-h1: #041448;
  --color-h3: #324168;
}

/* ******************************** */
html {
  background-color: var(--color-fondo);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0;

  & .container__header {
    width: 910px;
    border-radius: 40px 40px 0px 0px;
    background: linear-gradient(90deg, var(--gradient1) 37.65%, var(--gradient2) 100%);
    display: flex;
    justify-content: space-between;
    padding: 70px;

    & .header__texto {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      & h1 {
        font-size: 50px;
        color: var(--color-h1);
      }

      & h3 {
        font-size: 32px;
        color: var(--color-h3);
      }

      & .texto__boton {
        text-decoration: none;
        color: white;
        font-size: 22px;
        background-color: var(--boton-learn-more);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 20px 65px;
        border-radius: 50px;
      }
    }
  }

  & .container__section {
    background-color: white;
    width: 910px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    gap: 50px;

    & p {
      font-size: 22px;
      align-self: stretch;
    }

    & .section__boton {
      width: 50%;
      text-align: center;
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 24px;
      background-color: var(--boton-content);
      padding: 22px 65px;
      border-radius: 20px;
    }
  }

  & .container__footer {
    width: 910px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 50px 70px;
    background-color: white;
    border-radius: 0px 0px 40px 40px;
    gap: 40px;

    & .footer__imagen {
      & img {
        border-radius: 50%;
      }
    }

    & .footer__texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      font-size: 24px;
    }
  }
}